<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:solr="http://www.springframework.org/schema/data/solr"
       xsi:schemaLocation="http://www.springframework.org/schema/data/solr http://www.springframework.org/schema/data/solr/spring-solr.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="cloudServer" class="org.apache.solr.client.solrj.impl.CloudSolrServer">
        <constructor-arg name="zkHost" value="localhost:2181/solr"></constructor-arg>
        <constructor-arg name="updatesToLeaders" value="true"></constructor-arg>
        <property name="defaultCollection" value="ec"/>
        <property name="zkClientTimeout" value="5000"/>
        <property name="zkConnectTimeout" value="5000"/>
    </bean>


    <bean id="muticoreFactory" class="org.springframework.data.solr.server.support.MulticoreSolrServerFactory">
        <constructor-arg name="solrServer" ref="cloudServer"/>
    </bean>

    <bean id="solrTemplate" class="org.springframework.data.solr.core.SolrTemplate">
        <constructor-arg name="solrServerFactory" ref="muticoreFactory"/>
    </bean>

    <solr:repositories base-package="com.jee.solr.repositories" solr-server-ref="cloudServer"
                       solr-template-ref="solrTemplate"
                       factory-class="com.jee.solr.support.CustomSolrRepoBean" multicore-support="true"/>


</beans>